# Data Wrangling in Pandas

This session draws primarily on Chapter 7 in Python for Data Analysis.  It covers methods that are used heavily in 'data wrangling', which refers to the data manipulation that is often needed to transform raw data into a form that is useful for analysis.  We'll stick to the data and examples used in the book for most of this session, since the examples are clearer on the tiny datasets.  After that we will work through some of these methods again using real data.

Key methods covered include:

* Merging and Concatenating
* Reshaping data
* Data transformations
* Categorization
* Detecting and Filtering Outliers
* Creating Dummy Variables

In [ ]:
import pandas as pd
import numpy as np

## Merging

Merging two datasets is a very common operation in preparing data for analysis.  It generally means adding columns from one table to colums from another, where the value of some key, or merge field, matches.

Let's begin by creating two simple DataFrames to be merged.

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})
print(df1)
print(df2)

Here is a many to one merge.  The join field is implicit, based on what columns it finds in common between the two dataframes. Note that they share some values of the key field (a, b), but do not share key values c and d.  What do you expect to happen when we merge them? The result contains the values from both inputs where they both have a value of the merge field, which is 'key' in this example.  The default behavior is that the key value has to be in both inputs to be kept.  In set terms it would be an intersection of the two sets.

In [ ]:
pd.merge(df1,df2, how='right')

In [ ]:
pd.merge(df1,df2, how='outer')

Here is the same merge, but making the join field explicit.

In [ ]:
pd.merge(df1,df2, how='left')

In [ ]:
pd.merge(df1,df2, on='key')

In [ ]:
#what if there are more than one value of key in both dataframes? This is a many-to-many merge.
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df3 = pd.DataFrame({'key': ['a', 'b', 'b', 'd'],'data2': range(4)})
print(df1)
print(df3)
pd.merge(df1,df3, on='key')
#This produces a cartesian product of the number of occurrences of each key value in both dataframes:
# (b shows up 3 times in df1 and 2 times in df3, so we get 6 occurrences in the result of the merge)

In [ ]:
# There are several types of joins: left, right, inner, and outer. Let's compare them.
# How does a 'left' join compare to our initial join?  Note that it keeps the result if it shows up in df1,
# regardless of whether it also shows up in df2.  It fills in a value of NaN for the missing value from df2.
pd.merge(df1,df3, on='key', how='left')

In [ ]:
#How does a 'right' join compare?  Same idea, but this time it keeps a result if it shows up in df2, regardless
# of whether it also shows up in df1.
pd.merge(df1,df3, on='key', how='right')

In [ ]:
#How does an 'inner' join compare?
pd.merge(df1,df3, on='key', how='inner')
# seems to be the default argument...

In [ ]:
#How does an 'outer' join compare?  If inner joins are like an intersection of two sets, outer joins are unions.
pd.merge(df1,df3, on='key', how='outer')

In [ ]:
#What if the join fields have different names?  No problem - just specify the names.
df4 = pd.DataFrame({'key_1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df5 = pd.DataFrame({'key_2': ['a', 'b', 'b', 'd'],'data2': range(4)})
pd.merge(df4,df5, left_on='key_1', right_on='key_2')

In [ ]:
# Here is an example that uses a combination of a data column and an index to merge two dataframes.
df4 = pd.DataFrame({'key_1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df5 = pd.DataFrame({'data2': [4,6,8,10]}, index=['a','b','c','d'])
pd.merge(df4,df5, left_on='key_1', right_index=True)

## Concatenating

In [ ]:
# Concatenating can append rows, or columns, depending on which axis you use. Default is 0
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
pd.concat([s1, s2, s3])
# Since we are concatenating series on axis 0, this creates a longer series, appending each of the three series

In [ ]:
# What if we concatenate on axis 1?
pd.concat([s1, s2, s3], axis=1)

In [ ]:
# Outer join is the default:
pd.concat([s1, s2, s3], axis=1, join='outer')

In [ ]:
# What would an inner join produce?
pd.concat([s1, s2, s3], axis=1, join='inner')

In [ ]:
# We need some overlapping values to have the inner join produe non-empty results
s4 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
s5 = pd.Series([1, 2, 3], index=['d', 'e', 'f'])
s6 = pd.Series([7, 8, 9, 10], index=['d', 'e', 'f', 'g'])
pd.concat([s4, s5, s6], axis=1, join='outer')

In [ ]:
# Here is the inner join 
pd.concat([s4, s5, s6], axis=1, join='inner')
# Note that it contains only entries that overlap in all three series.

## Reshaping with Hierarchical Indexing

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                 index=pd.Index(['Ohio', 'Colorado'], name='state'),
                 columns=pd.Index(['one', 'two', 'three'], name='number'))
data

In [ ]:
# Stack pivots the columns into rows, producing a Series with a hierarchical index:
result = data.stack()
result

In [ ]:
# Unstack reverses this process:
result.unstack()

See also the related pivot method

## Data Transformations

In [ ]:
# Start with a dataframe containing some duplicate values
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,'k2': [1, 1, 2, 3, 3, 4, 99]})
data

In [ ]:
# How to see which rows contain duplicate values
data.duplicated()

In [ ]:
# How to remove duplicate values
data.drop_duplicates()

In [ ]:
#If 99 is a code for missing data, we could replace any such values with NaNs
data['k2'].replace(99,np.nan)

## Categorization (binning)

In [ ]:
# Let's look at how to create categories of data using ranges to bin the data using cut
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
type(cats)

In [ ]:
cats.categories

In [ ]:
cats.codes

In [ ]:
pd.value_counts(cats)

In [ ]:
# Consistent with mathematical notation for intervals, a parenthesis means that the side is open while the 
#square bracket means it is closed (inclusive). Which side is closed can be changed by passing right=False:
cats = pd.cut(ages, bins, right=False)
print(ages)
print(pd.value_counts(cats))

### Removing Outliers

In [ ]:
# Start by creating a dataframe with 4 columns of 1,000 random numbers
# We'll use a fixed seed for the random number generator to get repeatable results
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

In [ ]:
# This identifies any values in column 3 with absolute values > 3
col = data[3]
col[np.abs(col) > 3]

In [ ]:
# This identifies all the rows with any column containing absolute values > 3
data[(np.abs(data) > 3).any(1)]

In [ ]:
# Now we can cap the values at -3 to 3 using this:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

### Computing Dummy Variables

In [ ]:
# This generates dummy variables for each value of key
# Dummy variables are useful in statistical modeling, to have 0/1 indicator
# variables for the presence of some condition
pd.get_dummies(df['key'])

In [ ]:
# This generates dummy variables for each value of key and appends these to the dataframe
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

Notice that we used join instead of merge.  The join method is very similar to merge, but uses indexes to merge, by default.  From the documentation:

http://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging
merge is a function in the pandas namespace, and it is also available as a DataFrame instance method, with the calling DataFrame being implicitly considered the left object in the join.

The related DataFrame.join method, uses merge internally for the index-on-index and index-on-column(s) joins, but joins on indexes by default rather than trying to join on common columns (the default behavior for merge). If you are joining on index, you may wish to use DataFrame.join to save yourself some typing

## A bit more: 
1. Filter out records with more than 4 bedrooms
2. Create dummy variables for each bedroom count (e.g. bed_1 would have 1 for rows with 1 bedroom, 0 for others), and merge them with the dataframe
3. Filter sqft < 500 and > 3000
4. Create a set of 5 bins for price and do counts of how many records are in each category

In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv('rents_full.csv', encoding="ISO-8859-1")
#df_filter = df.query('bedrooms > 4')
#print(df_filter)
df.head()

,date,title,neighborhood,sqft,price,bedrooms,longitude,latitude
0,11/14/14 12:26,Comfort & Convenience At an Affordable Price,foster city,755.0,2495.0,1.0,-122.270000,37.553800
1,11/14/14 12:25,"$250 Visa Gift Card! Brand new flooring, appli...",palo alto,443.0,2695.0,NaN,-122.161524,37.450289
2,11/14/14 12:24,"Sunny 2 bed/2 bath Spacious Condo, personal wa...",brisbane,1242.0,3150.0,2.0,-122.417912,37.692415
3,11/14/14 12:24,Spacious Updated Apt. Close to Stanford,palo alto,NaN,2800.0,2.0,NaN,NaN
4,11/14/14 12:24,BOTTOM FLOOR ONE BEDROOM! PG&E IS INCLUDED! $1...,san mateo,676.0,2196.0,1.0,-122.299800,37.539500

In [17]:
df=df[~pd.isnull(df['bedrooms'])]
df.head()

,date,title,neighborhood,sqft,price,bedrooms,longitude,latitude
0,11/14/14 12:26,Comfort & Convenience At an Affordable Price,foster city,755.0,2495.0,1.0,-122.270000,37.553800
2,11/14/14 12:24,"Sunny 2 bed/2 bath Spacious Condo, personal wa...",brisbane,1242.0,3150.0,2.0,-122.417912,37.692415
3,11/14/14 12:24,Spacious Updated Apt. Close to Stanford,palo alto,NaN,2800.0,2.0,NaN,NaN
4,11/14/14 12:24,BOTTOM FLOOR ONE BEDROOM! PG&E IS INCLUDED! $1...,san mateo,676.0,2196.0,1.0,-122.299800,37.539500
5,11/14/14 12:28,Elegant Three Bd. W/ Unique Wood-Burning Firep...,santa clara,1138.0,3264.0,3.0,NaN,NaN

In [19]:
df_bed4 = df[df['bedrooms']>4]
df_bed4.head()

,date,title,neighborhood,sqft,price,bedrooms,longitude,latitude
17,11/14/14 12:23,Winston Park Area-House for Rent,south san francisco,NaN,4500.0,5.0,-122.457417,37.667437
46,11/14/14 12:22,"5Br.-3Ba. Great house, location, floor plan an...",san jose north,2776.0,4150.0,5.0,NaN,NaN
47,11/14/14 12:19,STUNNING 5 Bedroom House in Beautiful Saratoga...,saratoga,4005.0,6950.0,5.0,-122.013569,37.271943
101,11/14/14 11:34,Napa*Huge*5 Bed*loft*$3495 a month,napa county,3500.0,3495.0,5.0,-122.269684,38.290821
108,11/14/14 12:17,Large 6 bedroom 3 bath with w/d in unit and pa...,alamo square / nopa,NaN,15000.0,6.0,-122.440948,37.779505

In [3]:
df_filtered = df[(df.sqft >500) & (df.sqft <3000)]
print(df_filtered)

               date                                              title  \
0    11/14/14 12:26       Comfort & Convenience At an Affordable Price
2    11/14/14 12:24  Sunny 2 bed/2 bath Spacious Condo, personal wa...
4    11/14/14 12:24  BOTTOM FLOOR ONE BEDROOM! PG&E IS INCLUDED! $1...
5    11/14/14 12:28  Elegant Three Bd. W/ Unique Wood-Burning Firep...
6    11/14/14 12:28   Welcome Home! Warmth and convenience all in one.
7    11/14/14 12:28  Luxury Townhome!Located Next To Everything!Lim...
10   11/14/14 12:30                   Gorgeous one BR with in-unit W/D
11   11/14/14 12:18  Special Price For this Spacious Two Bedroom Co...
12   11/14/14 12:18  Sit Back and Relax In This Wonderful Two Bedroom!
13   11/14/14 12:17  Newly Renovated 1 Bedroom 1 Bath!2nd Floor w/B...
14   11/14/14 12:33  Located in the Heart of Corte Madera / Georgeo...
16   11/14/14 12:24      Sunnyvale 3/1.5bath, upgraded, conv. location
18   11/14/14 12:21  Exec worthy condo, pool, gym & billiards- walk...
19   11/14/14 12:28                Bristol Commons Is Your New Home!!!
20   11/14/14 12:28  Lovely Renovated 1 BD 1 BTH In An Astounding L...
21   11/14/14 12:26   Available Now!!! High Ceilings, FirePlace Cor...
23   11/14/14 12:29  TopFlr w Gorgeous View in Safe Neighborhd Norb...
24   11/14/14 12:15  2 Bed on Top floor with a cozy fireplace, pet ...
25   11/14/14 12:14      ª_COME AND SEE WHAT YOU HAVE BEEN MISSINGª_
30   11/14/14 12:26  Chic Remodeled 2BD 1 BTH End Suite Nov. Rent F...
31   11/14/14 12:26  Reserve Now! Nice 2 Bedroom, 2 Bathroom Available
32   11/14/14 12:24  2X2 SPECIALSSSS!! Vaulted Ceilings,Fireplace,W...
36   11/14/14 12:14                           Your new home awaits you
37   11/14/14 12:14  2 Bedrooms Available NOW Full Size Wash/Dryer,...
38   11/14/14 12:12  A Unique One Bedroom Layout! Very Open and Inv...
44   11/14/14 12:16  We have a GREAT Apartment waiting for you!! Co...
45   11/14/14 12:24  Tennis Court, 7 Pools, & Driving Range at This...
46   11/14/14 12:22  5Br.-3Ba. Great house, location, floor plan an...
51   11/14/14 12:12                           Great Energy Modern Home
52   11/14/14 12:11  Great Location! Great Two Bedroom Apt.!Washer&...
..              ...                                                ...
452  11/14/14 11:35  Charming Home in Historic Saratoga Village and...
453  11/14/14 11:34   Great Unit - 2Br 2Ba - First Floor -Call Now !!
459  11/14/14 11:29   Country Club Living in Beautiful Discovery Bay!!
460  11/14/14 10:12          Spacious Sausalito Duplex with Bay Views!
461  11/14/14 10:12    Stunning Views From This Updated Sausalito Home
462  11/14/14 10:50  DOWNTOWN ALL NEW FLOORING/ ALL NEW APPLIANCES/...
463  11/14/14 10:50  This 2x1 Home Is near Facebook, Google, & Othe...
464  11/14/14 10:49  All New Gourmet Kithchen/ Granite/ Palm Trees/...
465  11/14/14 11:34  Don't be left behind & reserve What's In Style...
466  11/14/14 11:33  2BR*LUXURY APARTMENTS*Beautiful Empire**AVAILA...
468  11/14/14 11:25  Beautiful corner apartments with amazing city ...
469  11/14/14 11:28  GREAT ONE STORY 3 BED 2 BATH HOME NOW AVAILABL...
470  11/14/14 11:28  A Unique Two Bedroom Layout! Very Open and Inv...
471  11/14/14 11:28                          3/2 newer home!ready now!
473  11/14/14 10:07    Walking Distance to Gourmet Dining & Fine Shops
474  11/14/14 10:47  Fantastic 1 Bedroom awaits you in Beautiful Me...
475  11/14/14 11:31  Large Two Bedroom! Walk-in Closet, Washer & Dr...
476  11/14/14 11:29  ÷Ô÷_1 month free on this brand new, never li...
480  11/14/14 11:28                                     Hurry in today
481  11/14/14 11:27       Fantastic home in desirable Vineyard Terrace
482  11/14/14 11:26       One Month Free! Two Bedroom! Great Location!
484  11/14/14 10:02  Must go - Private Mt. Tam view condo ready to ...
485   11/14/14 9:58                         Dominican Home w/ Hot Tub!
488  11/14/14 11:26                           Pleasanton Home for Rent
490   11/14/14 9:54  Homestead Valley & Almonte Area of Mill Valley...
491   11/14/14 9:54  Quaint Sausalito 2 Bedroom Cottage Available! ...
492   11/14/14 9:54  Beautiful Condo with Panoramic Bay Views from ...
495   11/14/14 9:53       Fabulous Top Floor 1x1 in Historic Downtown!
496   11/14/14 9:49  Classic 1br x 1Bath w/ large patio and great l...
497   11/14/14 9:49           Recently renovated One Bedroom Apartment

                            neighborhood    sqft   price  bedrooms  \
0                            foster city   755.0  2495.0       1.0
2                               brisbane  1242.0  3150.0       2.0
4                              san mateo   676.0  2196.0       1.0
5                            santa clara  1138.0  3264.0       3.0
6                         san jose south   822.0  2000.0       2.0
7                              sunnyvale  1406.0  4740.0       3.0
10                    SOMA / south beach   860.0  3620.0       1.0
11       dublin / pleasanton / livermore   636.0  2025.0       1.0
12    concord / pleasant hill / martinez  1019.0  2378.0       2.0
13   hercules, pinole, san pablo, el sob   715.0  1795.0       1.0
14                          corte madera  1533.0  4299.0       3.0
16                     Fair Oaks & Olive  1200.0  2695.0       3.0
18                            burlingame  1600.0  3900.0       2.0
19                             sunnyvale  1100.0  2939.0       2.0
20                             sunnyvale   760.0  2045.0       1.0
21                             sunnyvale   908.0  2505.0       2.0
23                             glen park  1000.0  3100.0       2.0
24         fremont / union city / newark  1008.0  2481.0       2.0
25         fremont / union city / newark   980.0  2295.0       2.0
30                             sunnyvale   952.0  2450.0       2.0
31                           santa clara  1056.0  2495.0       2.0
32                             cupertino  1062.0  2955.0       2.0
36       dublin / pleasanton / livermore   887.0  2079.0       2.0
37                 fairfield / vacaville  1240.0  1794.0       2.0
38               hayward / castro valley   563.0  1540.0       1.0
44                            menlo park  1154.0  3669.0       2.0
45                             cupertino   945.0  2995.0       2.0
46                        san jose north  2776.0  4150.0       5.0
51    concord / pleasant hill / martinez  1726.0  2625.0       3.0
52                          walnut creek   900.0  1895.0       2.0
..                                   ...     ...     ...       ...
452                             saratoga  2234.0  4200.0       3.0
453                            sunnyvale   880.0  2395.0       2.0
459                   brentwood / oakley  1992.0  1995.0       3.0
460                            sausalito  1500.0  3950.0       2.0
461                            sausalito  1920.0  7000.0       4.0
462                            san mateo   740.0  2225.0       1.0
463                        mountain view   910.0  3295.0       2.0
464                            san mateo   740.0  2225.0       1.0
465                    san jose downtown   852.0  2371.0       1.0
466                        san jose west  1060.0  2399.0       2.0
468                   SOMA / south beach  1309.0  4745.0       2.0
469                   brentwood / oakley  1169.0  1595.0       3.0
470                    vallejo / benicia   826.0  1454.0       2.0
471                fairfield / vacaville  1500.0  1800.0       3.0
473                           santa rosa   921.0  1749.0       2.0
474                           menlo park   810.0  2833.0       1.0
475                             milpitas  1128.0  2905.0       2.0
476                       san jose north  1044.0  2759.0       2.0
480      dublin / pleasanton / livermore   887.0  2079.0       2.0
481      dublin / pleasanton / livermore  1231.0  2195.0       2.0
482                           emeryville  1036.0  3182.0       2.0
484                            greenbrae   954.0  2650.0       2.0
485                           san rafael  1650.0  4400.0       4.0
488      dublin / pleasanton / livermore  2492.0  3800.0       4.0
490                          mill valley  1628.0  4700.0       3.0
491                            sausalito   971.0  3000.0       2.0
492                            sausalito  1225.0  3300.0       2.0
495                               novato   892.0  2250.0       1.0
496                        201 Avian Dr.   700.0  1030.0       NaN
497                           santa rosa   615.0  1175.0       1.0

      longitude   latitude
0   -122.270000  37.553800
2   -122.417912  37.692415
4   -122.299800  37.539500
5           NaN        NaN
6   -121.902268  37.253503
7   -122.034683  37.368445
10  -122.395195  37.775133
11  -121.787665  37.679630
12  -122.035275  37.975259
13  -122.321672  37.978086
14  -122.488541  37.919834
16  -122.023800  37.376400
18  -122.344881  37.575835
19  -122.017293  37.370908
20  -122.059349  37.375874
21  -122.016381  37.400727
23  -122.439743  37.731584
24  -122.032000  37.536800
25  -121.988577  37.550603
30  -122.059349  37.375874
31  -121.970402  37.324897
32  -122.006070  37.332142
36          NaN        NaN
37  -122.065198  38.249261
38  -122.096174  37.687930
44  -122.186400  37.439600
45          NaN        NaN
46          NaN        NaN
51  -122.011900  37.984100
52  -122.054930  37.907858
..          ...        ...
452         NaN        NaN
453 -122.031820  37.354637
459 -121.594920  37.890417
460 -122.486575  37.849951
461 -122.485643  37.851900
462 -122.322500  37.573500
463         NaN        NaN
464 -122.322500  37.573500
465         NaN        NaN
466 -121.922060  37.306570
468 -122.394304  37.776007
469 -121.700084  37.987893
470 -122.238344  38.079706
471 -122.042000  38.240800
473 -122.748764  38.467383
474         NaN        NaN
475 -121.927664  37.418777
476 -121.918802  37.397778
480 -121.737678  37.681045
481 -121.770000  37.752600
482 -122.292273  37.835971
484 -122.536300  37.947900
485         NaN        NaN
488 -121.915820  37.674820
490 -122.532053  37.887976
491 -122.494625  37.862143
492 -122.494600  37.860100
495 -122.565291  38.101820
496 -122.207000  38.106230
497 -122.674351  38.443105

[320 rows x 8 columns]

In [4]:
df['price'].min()

32.0

In [24]:
df['price']

0      2495.0
2      3150.0
3      2800.0
4      2196.0
5      3264.0
6      2000.0
7      4740.0
8      3395.0
9      2699.0
10     3620.0
11     2025.0
12     2378.0
13     1795.0
14     4299.0
15      950.0
16     2695.0
17     4500.0
18     3900.0
19     2939.0
20     2045.0
21     2505.0
22     3000.0
23     3100.0
24     2481.0
25     2295.0
26     3525.0
27     2595.0
28     1400.0
29     3050.0
30     2450.0
        ...
467    4995.0
468    4745.0
469    1595.0
470    1454.0
471    1800.0
472    8200.0
473    1749.0
474    2833.0
475    2905.0
476    2759.0
478    7080.0
479    2650.0
480    2079.0
481    2195.0
482    3182.0
483    1639.0
484    2650.0
485    4400.0
486    3700.0
487    3200.0
488    3800.0
489    2850.0
490    4700.0
491    3000.0
492    3300.0
493    3449.0
495    2250.0
497    1175.0
498    1450.0
499     800.0
Name: price, Length: 470, dtype: float64

In [5]:
df['price'].max()

15000.0

In [25]:
price=df.price.tolist()
price

[2495.0,
 3150.0,
 2800.0,
 2196.0,
 3264.0,
 2000.0,
 4740.0,
 3395.0,
 2699.0,
 3620.0,
 2025.0,
 2378.0,
 1795.0,
 4299.0,
 950.0,
 2695.0,
 4500.0,
 3900.0,
 2939.0,
 2045.0,
 2505.0,
 3000.0,
 3100.0,
 2481.0,
 2295.0,
 3525.0,
 2595.0,
 1400.0,
 3050.0,
 2450.0,
 2495.0,
 2955.0,
 2950.0,
 3699.0,
 3400.0,
 2079.0,
 1794.0,
 1540.0,
 2245.0,
 3595.0,
 1750.0,
 2595.0,
 4500.0,
 3669.0,
 2995.0,
 4150.0,
 6950.0,
 4750.0,
 2895.0,
 5400.0,
 2625.0,
 1895.0,
 2320.0,
 1705.0,
 4250.0,
 3495.0,
 3289.0,
 1375.0,
 3600.0,
 1695.0,
 2425.0,
 2795.0,
 3750.0,
 3600.0,
 1799.0,
 2700.0,
 1395.0,
 2175.0,
 3050.0,
 2895.0,
 3995.0,
 2775.0,
 2744.0,
 4899.0,
 2531.0,
 5500.0,
 5875.0,
 4856.0,
 1595.0,
 1351.0,
 1495.0,
 3200.0,
 1275.0,
 1200.0,
 2576.0,
 2088.0,
 2950.0,
 2769.0,
 2695.0,
 2995.0,
 3995.0,
 5195.0,
 3250.0,
 1350.0,
 2626.0,
 1995.0,
 1795.0,
 2606.0,
 3495.0,
 2739.0,
 4100.0,
 2046.0,
 2307.0,
 3450.0,
 2200.0,
 15000.0,
 3500.0,
 950.0,
 1200.0,
 1937.0,
 2282.0,
 6000.0,
 1575.0,
 1695.0,
 4900.0,
 5995.0,
 2995.0,
 2145.0,
 2600.0,
 2895.0,
 3475.0,
 4400.0,
 34.0,
 1308.0,
 2176.0,
 2150.0,
 3800.0,
 3450.0,
 3398.0,
 2987.0,
 3495.0,
 2405.0,
 1575.0,
 1695.0,
 3299.0,
 3399.0,
 4200.0,
 1025.0,
 1450.0,
 3398.0,
 3498.0,
 3330.0,
 2363.0,
 2895.0,
 2150.0,
 2200.0,
 2500.0,
 1286.0,
 3200.0,
 2295.0,
 2895.0,
 2950.0,
 2149.0,
 1825.0,
 2498.0,
 4499.0,
 1695.0,
 1000.0,
 2500.0,
 3900.0,
 4950.0,
 2130.0,
 3200.0,
 1725.0,
 2100.0,
 3475.0,
 3500.0,
 2495.0,
 1800.0,
 3000.0,
 3200.0,
 2850.0,
 1750.0,
 1995.0,
 1595.0,
 1890.0,
 32.0,
 2700.0,
 2230.0,
 2395.0,
 1975.0,
 1654.0,
 2975.0,
 2924.0,
 1400.0,
 1287.0,
 1989.0,
 1775.0,
 4555.0,
 2299.0,
 1745.0,
 1706.0,
 5795.0,
 1395.0,
 3975.0,
 2539.0,
 2452.0,
 2640.0,
 2445.0,
 3699.0,
 3049.0,
 1195.0,
 2100.0,
 1325.0,
 2199.0,
 1450.0,
 2199.0,
 2900.0,
 2188.0,
 1800.0,
 2270.0,
 4995.0,
 4209.0,
 2955.0,
 1750.0,
 3600.0,
 2000.0,
 2495.0,
 2082.0,
 2685.0,
 1250.0,
 1950.0,
 5010.0,
 1850.0,
 1775.0,
 1595.0,
 1485.0,
 2850.0,
 2200.0,
 1725.0,
 3823.0,
 1905.0,
 3900.0,
 4674.0,
 1850.0,
 3400.0,
 975.0,
 4650.0,
 3949.0,
 3695.0,
 3527.0,
 6600.0,
 3200.0,
 2395.0,
 2295.0,
 1950.0,
 1900.0,
 2231.0,
 2457.0,
 4700.0,
 1375.0,
 1375.0,
 3795.0,
 5850.0,
 3150.0,
 2400.0,
 1550.0,
 1695.0,
 1850.0,
 1595.0,
 3664.0,
 3595.0,
 2850.0,
 1375.0,
 2482.0,
 2700.0,
 5199.0,
 3105.0,
 2295.0,
 2095.0,
 1600.0,
 2600.0,
 3700.0,
 1800.0,
 2200.0,
 1376.0,
 5850.0,
 3050.0,
 6395.0,
 1625.0,
 1885.0,
 1600.0,
 1695.0,
 1725.0,
 2785.0,
 2489.0,
 2566.0,
 1900.0,
 1900.0,
 2695.0,
 2395.0,
 2795.0,
 2000.0,
 2500.0,
 1995.0,
 6000.0,
 2700.0,
 2210.0,
 1796.0,
 1796.0,
 5630.0,
 3200.0,
 1995.0,
 2595.0,
 2491.0,
 1950.0,
 1950.0,
 2251.0,
 2793.0,
 1695.0,
 3159.0,
 2150.0,
 2595.0,
 980.0,
 1525.0,
 1900.0,
 2700.0,
 2445.0,
 2850.0,
 1696.0,
 1695.0,
 2396.0,
 3000.0,
 2500.0,
 1350.0,
 1775.0,
 1725.0,
 5000.0,
 1495.0,
 2088.0,
 2098.0,
 2740.0,
 1950.0,
 4000.0,
 4500.0,
 1350.0,
 4680.0,
 2100.0,
 2050.0,
 3000.0,
 2110.0,
 2098.0,
 1951.0,
 1950.0,
 2250.0,
 3889.0,
 3145.0,
 2800.0,
 3800.0,
 1275.0,
 1811.0,
 3295.0,
 2456.0,
 2695.0,
 2395.0,
 2855.0,
 3699.0,
 1900.0,
 1430.0,
 1450.0,
 1200.0,
 850.0,
 7500.0,
 2895.0,
 2800.0,
 2395.0,
 2996.0,
 3400.0,
 2495.0,
 1850.0,
 2085.0,
 1835.0,
 6000.0,
 2725.0,
 2050.0,
 2500.0,
 1776.0,
 2650.0,
 2658.0,
 2849.0,
 4500.0,
 4500.0,
 1450.0,
 2750.0,
 1992.0,
 2200.0,
 2000.0,
 2600.0,
 2225.0,
 4200.0,
 2235.0,
 1470.0,
 2445.0,
 3200.0,
 3280.0,
 2635.0,
 2150.0,
 2290.0,
 1795.0,
 1850.0,
 1535.0,
 3250.0,
 15000.0,
 3250.0,
 1698.0,
 1725.0,
 2445.0,
 3425.0,
 4750.0,
 3550.0,
 2500.0,
 1995.0,
 1535.0,
 2050.0,
 2695.0,
 2595.0,
 2939.0,
 2763.0,
 2600.0,
 3050.0,
 3800.0,
 3699.0,
 2600.0,
 1750.0,
 1775.0,
 3150.0,
 3950.0,
 2475.0,
 5495.0,
 4200.0,
 2395.0,
 2500.0,
 1995.0,
 3950.0,
 7000.0,
 2225.0,
 3295.0,
 2225.0,
 2371.0,
 2399.0,
 4995.0,
 4745.0,
 1595.0,
 1454.0,
 1800.0,
 8200.0,
 1749.0,
 2833.0,
 2905.0,
 2759.0,
 7080.0,
 2650.0,
 2079.0,
 2195.0,
 3182.0,
 1639.0,
 2650.0,
 4400.0,
 3700.0,
 3200.0,
 3800.0,
 2850.0,
 4700.0,
 3000.0,
 3300.0,
 3449.0,
 2250.0,
 1175.0,
 1450.0,
 800.0]

In [26]:
#price= df['price']
bins= [32, 3032, 6032,9032,12032, 15000]
c = pd.cut(price,bins)

c

[(32, 3032], (3032, 6032], (32, 3032], (32, 3032], (3032, 6032], ..., (3032, 6032], (32, 3032], (32, 3032], (32, 3032], (32, 3032]]
Length: 470
Categories (5, interval[int64]): [(32, 3032] < (3032, 6032] < (6032, 9032] < (9032, 12032] < (12032, 15000]]

In [27]:
c.categories

IntervalIndex([(32, 3032], (3032, 6032], (6032, 9032], (9032, 12032], (12032, 15000]]
              closed='right',
              dtype='interval[int64]')

In [28]:
c.codes

array([ 0,  1,  0,  0,  1,  0,  1,  1,  0,  1,  0,  0,  0,  1,  0,  0,  1,
        1,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  1,
        1,  0,  0,  0,  0,  1,  0,  0,  1,  1,  0,  1,  2,  1,  0,  1,  0,
        0,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  1,  1,  0,  0,  0,  0,
        1,  0,  1,  0,  0,  1,  0,  1,  1,  1,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  1,  0,  1,  0,
        0,  1,  0,  4,  1,  0,  0,  0,  0,  1,  0,  0,  1,  1,  0,  0,  0,
        0,  1,  1,  0,  0,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  1,  1,
        1,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,
        0,  0,  1,  0,  0,  0,  1,  1,  0,  1,  0,  0,  1,  1,  0,  0,  0,
        1,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  1,  0,  1,  0,  1,
        1,  1,  1,  2,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  1,  1,
        0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,
        1,  0,  0,  0,  1,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,  1,  0,  0,  0,  0,  1,
        0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,
        0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,
        0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  1,  4,  1,  0,  0,  0,  1,
        1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,
        1,  1,  0,  1,  1,  0,  0,  0,  1,  2,  0,  1,  0,  0,  0,  1,  1,
        0,  0,  0,  2,  0,  0,  0,  0,  2,  0,  0,  0,  1,  0,  0,  1,  1,
        1,  1,  0,  1,  0,  1,  1,  0,  0,  0,  0], dtype=int8)

In [29]:
pd.value_counts(c)

(32, 3032]        325
(3032, 6032]      135
(6032, 9032]        7
(12032, 15000]      2
(9032, 12032]       0
dtype: int64